<h2>Sushi Relayer</h2>
<div class="grid">
  <div class="grid-col-a">
    <label for="strategy">strategy</label>
    <input [(ngModel)]="data.strategy" type="text">
    <label for="owner">owner</label>
    <input [(ngModel)]="data.owner" type="text">
    <label for="nonce">nonce</label>
    <input [(ngModel)]="data.nonce" type="text">
    <label for="deadline">deadline</label>
    <input [(ngModel)]="data.deadline" type="text">
    <label for="functionSelector">functionSelector</label>
    <input [(ngModel)]="data.functionSelector" type="text">
    <label for="feeToken">feeToken</label>
    <input [(ngModel)]="data.feeToken" type="text">
    <label for="feeAmount">feeAmount</label>
    <input [(ngModel)]="data.feeAmount" type="text">
    <label for="inputToken">inputToken</label>
    <input [(ngModel)]="data.inputToken" type="text">
    <label for="inputAmount">inputAmount</label>
    <input [(ngModel)]="data.inputAmount" type="text">
    <label for="outputToken">outputToken</label>
    <input [(ngModel)]="data.outputToken" type="text">
    <label for="minOutputAmount">minOutputAmount</label>
    <input [(ngModel)]="data.minOutputAmount" type="text">
  </div>
  <div class="grid-col-b"></div>
</div>
